

![logo lw.png]()

Quels sont les types d’erreurs que l’on peut trouver dans une table après la collecte de données ?

1.	Erreurs de données manquantes<br>
    * **Valeurs nulles (NULL)** <br>
    * **Données partiellement manquantes**  <br><br>
       
2.	Erreurs de duplication<br>
    * **Lignes dupliquées** <br>
    * **Doublons partiels** <br><br>
    
3.	Erreurs de formatage <br>
    * **Incohérences de format** <br>
    * **Valeurs non uniformes** <br>
    * **Majuscules/minuscules** <br>
    


4.	Erreurs de typage<br>
    * **Valeurs dans le mauvais type de données** <br>
    * **Mélange de types de données** <br><br>


5.	Valeurs aberrantes (outliers)<br>
    * **Valeurs extrêmes** <br>
    * **Saisies incorrectes** <br><br>

6.	Incohérences logiques<br>
    * **Incohérences entre les colonnes** <br>
    * **Conflits de données** <br><br>

7.	Erreurs de saisie ou fautes d’orthographe<br>
    * **Fautes de frappe** <br>
    * **Variantes d'orthographe** <br><br>
    
8.	Incohérences dans les unités de mesure<br>
    * **Unités différentes** <br>
    * **Incohérence des décimales** <br><br>

9.	Problèmes liés aux données catégorielles<br>
    * **Catégories incorrectes** <br>
    * **Catégories ambiguës** <br>
    * **Données nominales imprécises** <br><br>
    
10.	Données redondantes<br>
    * **Colonnes redondantes** <br>
    * **Données dupliquées sous différents noms** <br><br>

Écrivez des exemples de requêtes SQL qui permettent de détecter ces erreurs.


* Détection de données manquantes

```sql
SELECT * 
FROM table
WHERE colonne1 IS NULL OR colonne2 IS NULL;
```

* Détection des doublons

```sql
SELECT colonne1, colonne2, COUNT(*)
FROM table
GROUP BY colonne1, colonne2
HAVING COUNT(*) > 1;

```

* Détection des erreurs de typage

```sql
SELECT * 
FROM table
WHERE NOT colonne_num IS NUMERIC;
```

* Détection des valeurs aberrantes (outliers)

```sql
SELECT * 
FROM table
WHERE colonne_age < 0 OR colonne_age > 120;
```


* Détection des problèmes dans les données catégorielles

```sql
SELECT DISTINCT colonne_genre
FROM table
WHERE colonne_genre NOT IN ('Homme', 'Femme');

```

* Détection des incohérences logiques

```sql
SELECT * 
FROM table
WHERE date_naissance > date_deces;
```

Comment faire pour ne pas avoir à lancer ces requêtes manuellement ?

*1.	Utiliser un script Python pour automatiser les requêtes SQL*<br>

*2. Utiliser un outil d'intégration continue pour automatiser la détection d'erreurs (comme l'outil Prefect par exemple)*

### Requête d'aggregation

Imaginez qu’il n’y a pas d’erreurs de données dans les tables.

En reprenant les trois tables `sales`, `products` et `customers`, écrivez une requête qui:
          

*   Joint les trois tables pour n’en créer qu’une seule
*   Agrège la donnée pour savoir combien chaque consommateur a acheté de chaque produit en affichant le nom du produit et le prénom du client.

          

Ecrivez votre requête ci-dessous.

*Pour info* : <br>
        1. Il n'existe pas de table 'sales' dans les données transmises pour la certification. <br>
        2. J'ai travaillé sur les tables 'orders', 'products' et 'customers'.<br>
        
    
    
    
```sql
SELECT 
        ProductName,
        ContactFirstName,
        COUNT(ProductName) AS nb_produits_achetes

FROM `Greenthumb.orders`

JOIN `Greenthumb.products`
ON `Greenthumb.products`.ProductID = `Greenthumb.orders`.ProductID


JOIN `Greenthumb.customers`
ON `Greenthumb.customers`.CustomerID = `Greenthumb.orders`.CustomerID

GROUP BY ProductName, ContactFirstName
ORDER BY ProductName ASC ; 


```