# Import libraries

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from dotenv import load_dotenv
import os
import time

# Basics
import pandas as pd
import numpy as np

# Retrieve data

In [3]:
!pwd

/home/thierry/code/thcarole1/GreenThumbs_September/notebooks

In [4]:
# take environment variables from .env.
load_dotenv()
data_path = os.getenv("ORIGINAL_DATA_DIR")
data_path = '../' + data_path


#Retrieve dataset from local directory
reviews_df = pd.read_json(data_path + 'reviews_df')
reviews_df

,ReviewID,ReviewScore,ReviewText,OrderID
0,1,5,None,501210
1,1,4,None,669676
2,1,5,None,800210
3,1,5,None,228723
4,1,5,None,573604
...,...,...,...,...
485050,1,3,ENJOYED MEDICINAL VERA EASY BENEFITS AND FOR. ...,508735
485051,1,3,None,717862
485052,1,5,None,258482
485053,1,5,None,287830
485054,1,5,None,239104

In [5]:
reviews_df = reviews_df.dropna()
reviews_df = reviews_df.drop_duplicates()


# def transform(s):
#   if s in range(1,4):
#     s = 0
#   if s in range(4,6):
#     s = 1
#   return s

# reviews_df['ReviewScore']  = reviews_df['ReviewScore'].apply(transform)

In [6]:
# import string
# from nltk.corpus import stopwords 
# from nltk import word_tokenize
# from nltk.stem import WordNetLemmatizer

# def preprocessing(sentence):
#     # Removing whitespaces
#     sentence = sentence.strip()
    
#     # Lowercasing
#     sentence = sentence.lower()
    
#     # Removing numbers
#     sentence = ''.join(char for char in sentence if not char.isdigit())
    
#     # Removing punctuation
#     for punctuation in string.punctuation:
#         sentence = sentence.replace(punctuation, '')
        
#     # Tokenizing
#     tokenized = word_tokenize(sentence)
    
#     # Lemmatizing
#     lemmatizer = WordNetLemmatizer()
#     lemmatized = [lemmatizer.lemmatize(word) for word in tokenized]
#     cleaned_sentence = " ".join(lemmatized)
    
#     return cleaned_sentence

# reviews_df['ReviewText_clean'] = reviews_df['ReviewText'].apply(preprocessing)

# reviews_df.head()

In [7]:
X = reviews_df[['ReviewText']]

In [8]:
X.head()

                                            ReviewText
8    Product came As expected, timely and well-pack...
31   Indoor Sweet-scented Or Creating Perfect outdo...
69   Efficient delivery, item matches the online de...
87              ITEM ARRIVED ON TIME AND AS DESCRIBED.
140  Satisfactory experience, would recommend to ot...

In [9]:
X.shape

(9246, 1)

# Generate dummy input - Variable number of reviews

In [10]:
# Generate a dataset of 'number' random rows from original dataset
dummy_dir = os.getenv("DUMMY_DATA_DIR")
number = [1, 3, 5, 8, 10, 15]

def generate_dummy_data_leaving(number, data):
    '''
    generate_data_leaving creates a json file of 'number' rows from data and saves it locally.
    For demonstration purpose with Front-End.
    
    '''
    timestamp = time.strftime("%Y%m%d_%H%M%S")
    file_path = os.path.join('../'+ dummy_dir,f"{timestamp}_dummy_{number}_reviews.json")
    data.sample(number).to_json(file_path)

# for num in number: 
#     generate_dummy_data_leaving(num,X)